{% extends 'MyInventoryApp/base.html' %}
{% block content %}

<div class="container mt-4">
    <h2>Add Water Bottle</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-2">
            <label>SKU</label>
            <input type="text" name="sku" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>Brand</label>
            <input type="text" name="brand" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>Cost</label>
            <input type="number" name="cost" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>Size</label>
            <input type="text" name="size" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>Mouth Size</label>
            <input type="text" name="mouth_size" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>Color</label>
            <input type="text" name="color" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>Quantity</label>
            <input type="number" name="qty" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Supplier</label>
            <select name="supplier" class="form-control" required>
                {% for s in suppliers %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success">Confirm</button>

        <a href="{% url 'supplier' %}" class="btn btn-secondary">
            Cancel
        </a>

    </form>
</div>

{% endblock %}