{% extends 'MyInventoryApp/base.html' %}
{% load static %}
{%block title%}Suppliers{%endblock%}

{%block heading%}Suppliers{%endblock%}


{% block navigation %}
<ul>
    <li><a href="{% url 'waterbottle' %}" > Waterbottles </a></li>
</ul>
{% endblock %}

{%block thead_categories%}
    <th class="table-dark" scope="col"> Name </th>
    <th class="table-dark" scope="col"> City </th>
    <th class="table-dark" scope="col"> Country </th>
    <th class="table-dark" scope="col"> Creation date </th>    
    <th class="table-dark" scope="col"> Details </th>    

{%endblock%}

{%block tbody_data%}
{% for s in suppliers %}
    <tr>
        <td> {{ s.name }} </td>
        <td> {{ s.city }} </td>
        <td> {{ s.country }} </td>
        <td> {{ s.created_at }} </td>
        <td> <div class="d-flex justify-content-center"> <button type="button" class="btn btn-sm btn-dark">Details</button> </div> </td>

    </tr>
{% endfor %}
{%endblock%}


{% load static %}